.me__title {
    font-size: 27.2px;
    font-weight: 600;
    margin-top: calc(.5rem * 4);
}

.me__subtitle {
    font-size: 20px;
    margin-top: calc(.5rem * 2);
    margin-bottom: 3.75rem;
}

.me__description-box {
    width: 370px;
    padding-bottom: 3.75rem;
}

.me__description {
    font-size: 20px;
}

@media screen and (max-width: 576px) {
    .me__holder-box {
        margin: 0;
    }

    .me__holder {
        display: flex;
        flex-direction: column;
        padding-top: 1.875rem;
    }

    .me__holder:first-child {
        width: 100%;
    }

    .me__holder:last-child {
        display: none;
    }

    .me__title,
    .me__subtitle {
        color: #0d6efd;
        text-align: center;
        margin: 0;
        padding-bottom: 1.5rem;
        font-weight: 400;
    }

    .me__title {
        order: 1;
    }

    .me__subtitle {
        order: -1;
    }

    .me__description-box {
        width: 100%;
        text-align: center;
        order: 3;
    }
}

@media screen and (min-width: 360px) and (max-width: 576px) {
    .me__title,
    .me__subtitle {
        font-size: .75rem;
    }

    .me__description {
        font-size: 18px;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    .me__title,
    .me__subtitle,
    .me__description {
        font-size: 15px;
    }
}