<div class="container-fluid about">
    <div class="row about__cm-info">
        <div class="col-6 about__cm-col-box">
            <div class="about__up-icon is-balance-scale"></div>
            <div class="about__text-info">
                <h2 class="about__head">01 ____ области экспертизы</h2>
                <div class="about__text-box">
                    <span class="about__text">Гражданско-правовые споры</span>
                </div>
                <div class="about__btn-box">
                    <a href="#" class="about__btn-link" title="УЗНАТЬ БОЛЬШЕ">
                        <span class="about__btn-text">Узнать больше</span>
                    </a>
                </div>
            </div>
        </div>
        <div class="col-6 about__cm-col-img">
            <div class="about__img-box">
                <div class="about__cm-img is-strong"></div>
            </div>
        </div>
    </div>
</div>