<div class="btn-scroll">
    <div class="btn-scroll__up" id="toTop">
        <input type="button" class="btn btn-scroll__input btn-scroll__input--up">
    </div>
    <div class="btn-scroll__down" id="toBottom">
        <input type="button" class="btn btn-scroll__input btn-scroll__input--down">
    </div>
</div>