<div class="container-fluid contact">
    <div class="row">
        <div class="col-5 contact__image-box">
            <div class="contact__bg-image"></div>
        </div>
        <div class="col-7 contact__bs-box">
            <div class="contact__foundation-box">
                <div class="contact__icon"></div>
                <div class="contact__title-box">
                    <h2 class="contact__title">03 ____ Contact us</h2>
                </div>
                <form class="contact__contact-form">
                    <div class="contact__content-form">
                        <label class="form-label contact__input-box">
                            <input type="text" class="form-control contact__input" placeholder="Имя" required>
                        </label>
                        <label class="form-label contact__input-box">
                            <input type="email" class="form-control contact__input" placeholder="Email" required>
                        </label>
                    </div>
                    <div class="contact__wrapper-label">
                        <label class="form-label contact__input-box">
                            <input type="text" class="form-control contact__input" placeholder="Номер телефона" required>
                        </label>
                    </div>
                    <div class="contact__btn-box"> <!-- cm-submiter__btn-box -->
                        <input type="submit" class="btn btn-light contact__btn" value="Отправить"> <!-- cm-submiter__btn -->
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>