<div class="container">
    <div class="row">
        <div class="col-5 content__cm-col-next">
            <div class="page__description-box">
                <div class="description">
                    <h2 class="description__title">02 ____ О нас</h2>
                    <div class="description__header">
                        <span class="description__text">
                            Юридическая фирма, предоставляющая консультации по актуальным
                            юридическим вопросам. 
                        </span>
                    </div>
                    <div class="description__item-box">
                        <div class="description__item">
                            <div class="description__icon-box">
                                <img src="../assets/cash.png" class="img-fluid description__icon" alt="Наличные">
                            </div>
                            <div class="description__multiple-text">
                                <div class="description__item">
                                    <span class="description__item-head">
                                        Выгодные цены на все услуги
                                    </span>
                                </div>
                                <div class="description__item">
                                    <span class="description__item-main">
                                        Мы четко определяем стоимость наших юридических услуг
                                        до заключения договора
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="description__item">
                            <div class="description__icon">
                                <img src="../assets/pen.png" class="img-fluid description__icon" alt="Консультации">
                            </div>
                            <div class="description__multiple-text">
                                <div class="description__item">
                                    <span class="description__item-head">
                                        Бесплатные консультации
                                    </span>
                                </div>
                                <div class="description__item">
                                    <span class="description__item-main">
                                        Мы готовы предоставить быструю
                                        и качественную онлайн помощь
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="description__item">
                            <div class="description__icon">
                                <img src="../assets/list.png" class="img-fluid description__icon" alt="Индивидуальный подход">
                            </div>
                            <div class="description__multiple-text">
                                <div class="description__item">
                                    <span class="description__item-head">
                                        Индивидуальный подход к каждому клиенту
                                    </span>
                                </div>
                                <div class="description__item">
                                    <span class="description__item-main">
                                        Вы получите персональный план решения вашей проблемы
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 cm-description-service">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__block is-item-1">
                            <div class="cm-description-service__multiple-text">
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__main-text">
                                        На сайте или звоните по телефону
                                    </span>
                                </div>
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__info is-warning">
                                        +7 (951) 839-59-39
                                    </span>
                                </div>
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__bottom-text">
                                        Вы оставляете заявку
                                    </span>
                                </div>
                            </div>
                            <img src="../assets/table.jpg" class="img-fluid cm-description-service__img" alt="Заявка">
                        </div>
                    </div>
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__block is-item-2">
                            <div class="cm-description-service__multiple-text">
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__main-text">
                                        Менеджер связывается с вами
                                    </span>
                                </div>
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__bottom-text">
                                        Мы связываемся с вами
                                    </span>
                                </div>
                            </div>
                            <img src="../assets/calling.jpg" class="img-fluid cm-description-service__img" alt="Звонок">
                        </div>
                    </div>
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__block is-item-3">
                            <div class="cm-description-service__multiple-text">
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__main-text">
                                        Согласуем подписание договора
                                    </span>
                                </div>
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__bottom-text">
                                        Подписание договора
                                    </span>
                                </div>
                            </div>
                            <img src="../assets/singing.jpg" class="img-fluid cm-description-service__img" alt="Договор">
                        </div>
                    </div>
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__block is-item-4">
                            <div class="cm-description-service__multiple-text">
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__main-text">
                                        Решаем вашу проблему
                                    </span>
                                </div>
                                <div class="cm-description-service__item">
                                    <span class="cm-description-service__bottom-text">
                                        Решение вопроса
                                    </span>
                                </div>
                            </div>
                            <img src="../assets/deal.jpg" class="img-fluid cm-description-service__img" alt="Решение">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>