<div class="container footer__content">
    <div class="row footer__port">
        <div class="col-4 footer__company-data">
            <div class="footer__logo">
                <div class="footer__icon-box"></div>
                <div class="footer__text">
                    <div class="alert footer__slogan"></div>
                    <div class="alert footer__slogan-text"></div>
                </div>
            </div>
            <!-- вывести динамически с помощью each -->
            <!-- начало -->
            <ul class="list-group footer__address">
                <li class="list-group-item footer__item-address">
                    <div class="footer__icon-address" id="is-phone"></div>
                    <div class="alert footer__text-icon">Ростов-на-Дону, улица Максима Горького</div>
                </li>
                <li class="list-group-item footer__item-address">
                    <div class="footer__icon-address" id="is-clock"></div>
                    <div class="alert footer__text-icon">sergeynazarov161@yandex.ru</div>
                </li>
                <li class="list-group-item footer__item-address">
                    <div class="footer__icon-address" id="is-home"></div>
                    <div class="alert footer__text-icon">Пон-Вс: 10.00 - 20.00</div>
                </li>
                <li class="list-group-item footer__item-address">
                    <div class="footer__icon-address" id="is-envelope"></div>
                    <div class="alert footer__text-icon">+7 (951) 839-59-39</div>
                </li>
            </ul>
            <!-- конец -->
            <div class="alert footer__icon-title">Подписаться</div>
            <ul class="footer__icon-box">
                <li class="footer__item-icon">
                    <a href="#" class="btn footer__item footer__item--social" id="twitt">1</a>
                </li>
                <li class="footer__item-icon">
                    <a href="#" class="btn footer__item footer__item--social" id="vk">2</a>
                </li>
                <li class="footer__item-icon">
                    <a href="#" class="btn footer__item footer__item--social" id="in">3</a>
                </li>
            </ul>
        </div>
        <div class="col-4 footer__service">
           <div class="container"></div> 
        </div>
        <div class="col-4 footer__contact">

        </div>
    </div>
</div>