<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    <!-- Подключение бутстрап -->
    <link 
        href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" 
        rel="stylesheet" 
        integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" 
        crossorigin="anonymous"
    >
    <!-- Стили компонентов -->

    <!-- Подключение шрифта -->
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <!-- Подключение иконного шрифта -->
    <link
      rel="stylesheet"
      href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css"
      integrity="sha384-AYmEC3Yw5cVb3ZcuHtOA93w35dYTsvhLPVnYs9eStHfGJvOvKxVfELGroGkvsg+p"
      crossorigin="anonymous"
    />
    <link rel="stylesheet" href="../../styles/mainContent.css">
    <link rel="stylesheet" href="../../styles/menuTop/menu.css">
    <link rel="stylesheet" href="../../styles/singleSlider/singleSlider.css">
    <link rel="stylesheet" href="../../styles/slick.css">
    <link rel="stylesheet" href="../../styles/aboutWall/about.css">
    <link rel="stylesheet" href="../../styles/card/card.css">
    <link rel="stylesheet" href="../../styles/description/description.css">
    <link rel="stylesheet" href="../../styles/services/descriptionService.css">
    <link rel="stylesheet" href="../../styles/submiter/submiter.css">
    <link rel="stylesheet" href="../../styles/contacts/location.css">
</head>