<button 
    class="navbar-toggler index__cm-toggler" 
    type="button" 
    data-bs-target="#navbarSupportedContent" 
>
    <!-- место для анимированной иконки -->
    <span class="navbar-toggler-icon"></span>
</button>