<div class="container job__entry-point">
    <div class="row job__holder-box">
        <div class="col-6 job__img-box">
            <div class="job__bg-img"></div>
        </div>
        <div class="col-6 job__text">
            <h2 class="job__title">Работа</h2>
            <div class="job__description-box">
                <span class="job__description">
                    Работа с нами - возможность расти профессионально,
                    выполняя интересные челленджи. Возможность достигнуть результата,
                    которым можно гордиться
                </span>
            </div>
        </div>
    </div>
</div>