<div class="cm-location__index">
    <div class="cm-location__icon-top-box">
        <span class="cm-location__icon-top"></span>
    </div>
    <div class="cm-location__title-box">
        <span class="cm-location__title">04 ____ Контакты</span>
    </div>
    <div class="cm-location__slogan-box">
        <span class="cm-location__slogan">
            Мы здесь ради тебя <br>
            с 10.00 до 20.00, 7 дней в неделю
        </span>
    </div>
    <div class="container cm-location__just-box">
        <div class="row g-2">
            <div class="col-6">
                <div class="cm-location__item">
                    <div class="cm-location__multiple-text">
                        <span class="cm-location__title cm-location__title--small">Телефон:</span>
                        <span class="cm-location__self-text">+7 (951) 839-59-39</span>
                    </div>
                    <div class="cm-location__icon-box">
                        <span class="cm-location__icon is-phone"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="cm-location__item">
                    <div class="cm-location__multiple-text">
                        <span class="cm-location__title cm-location__title--small">Адрес:</span>
                        <span class="cm-location__self-text">Ростов-на-Дону, ул.Максима Горького, 151</span>
                    </div>
                    <div class="cm-location__icon-box">
                        <span class="cm-location__icon is-clock"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="cm-location__item">
                    <div class="cm-location__multiple-text">
                        <span class="cm-location__title cm-location__title--small">Часы:</span>
                        <span class="cm-location__self-text">Пон-Вс: 10.00 – 20.00</span>
                    </div>
                    <div class="cm-location__icon-box">
                        <span class="cm-location__icon is-home"></span>
                    </div>
                </div>
            </div>
            <div class="col-6">
                <div class="cm-location__item">
                    <div class="cm-location__multiple-text">
                        <span class="cm-location__title cm-location__title--small">Email:</span>
                        <span class="cm-location__self-text">sergeynazarov161@yandex.ru</span>
                    </div>
                    <div class="cm-location__icon-box">
                        <span class="cm-location__icon is-envelope"></span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>