<div class="container me__entry-point">
    <div class="row me__holder-box">
        <div class="col-6 me__holder">
            <h2 class="me__title">Сергей Назаров</h2>
            <h3 class="me__subtitle">Основатель проекта</h3>
            <div class="me__description-box">
                <span class="me__description">
                    Выпускник Юридического факультета ЮФУ
                    (дипломы с отличием, гражданско- и семейно-
                    правовая специализация).
                    <br>
                    Участник семинаров, конференций, автор научных статей
                    <br>
                    Победитеь конкурса Professional Responsibility
                    and Ethics in the Global Legal Market (MГУ / DLA Piper / 
                    White & Case)
                </span>
            </div>
        </div>
        <div class="col-6 me__holder"></div>
    </div>
</div>