<ul class="navbar-nav index__cm-navbar">
    <li class="nav-item index__cm-item">
        <a 
            class="nav-link index__cm-link active"
            href="/"
        >
            Главная 
        </a>
    </li>
    <li class="nav-item index__cm-item">
        <a 
            class="nav-link index__cm-link"
            href="/about"
        >
            О компании  
        </a>
        <ul class="dropdown-menu index__cm-dropdown-menu">
            <li class="dropdown-item index__cm-dropdown-item">
                <a 
                class="nav-link index__cm-link"
                href="/services"
                >
                    Услуги компании
                </a> 
            </li>
        </ul>
    </li>
    <li class="nav-item index__cm-item">
        <a 
            class="nav-link index__cm-link"
            href="/contacts"
        >
            Контакты
        </a>
    </li>
    <li class="nav-item index__cm-item">
        <a 
            class="nav-link index__cm-link"
            href="/contactUs"
        >
            Связаться с нами
        </a>
    </li>
</ul>