<div class="bg-color"></div>
<div class="bg"></div>
<div class="slider-box">
    <div class="slider-text">
        <div class="slider-text__item">
            <div class="slider-text__block"></div>
            <div class="slider-text__description">
                <div class="slider-text__title-box">
                    <h3 class="slider-text__title">Лучшие юристы в своей области</h3>
                </div>
                <div class="slider-text__subtitle-box">
                    <h3 class="slider-text__subtitle">
                        Мы сотрудничаем с клиентами, коллегами 
                        и заинтересованными сторонами, чтобы общаться,
                        делиться друг с другом опытом.
                    </h3>
                </div>
            </div>
        </div>
        <div class="slider-text__item">
            <div class="slider-text__block"></div>
            <div class="slider-text__description">
                <div class="slider-text__title-box">
                    <h3 class="slider-text__title">Баланс качества и роста</h3>
                </div>
                <div class="slider-text__subtitle-box">
                    <h3 class="slider-text__subtitle">
                        Мы с интересом подходим 
                        к решению сложных задач компании 
                    </h3>
                </div>
            </div>
        </div>
        <div class="slider-text__item">
            <div class="slider-text__block"></div>
            <div class="slider-text__description">
                <div class="slider-text__title-box">
                    <h3 class="slider-text__title">Мы можем помочь каждому</h3>
                </div>
                <div class="slider-text__subtitle">
                    <h3 class="slider-text__subtitle">
                        Наши специалисты готовы в любой момент 
                        выполнить анализ ваших задачи,
                        обсудить сроки выполнения 
                        и стоимость услуги
                    </h3>
                </div>
            </div>
        </div>
    </div>
</div>