<div class="container-fluid cm-submiter">
    <div class="row">
        <div class="col-5 cm-submiter__img-box">
            <img src="../assets/place.jpg" class="img-fluid cm-submiter__img" alt="contact us">
        </div>
        <div class="col-7 cm-submiter__col-next">
            <div class="cm-submiter__container">
                <div class="cm-submiter__attributes">
                    <span class="cm-submiter__icon">
                    </span>
                </div>
                <div class="cm-submiter__title-box">
                    <span class="cm-submiter__title">03 ____ Contact us</span>
                </div>
                <form class="cm-submiter__form">
                    <div class="cm-submiter__content-box">
                        <label class="form-label cm-submiter__input-box">
                            <input type="text" class="form-control cm-submiter__input" placeholder="Имя" required>
                        </label>
                        <label class="form-label cm-submiter__input-box">
                            <input type="email" class="form-control cm-submiter__input" placeholder="Email" required>
                        </label>
                    </div>
                    <div class="cm-submiter__field-box">
                        <label class="form-label cm-submiter__input-box">
                            <input type="text" class="form-control cm-submiter__input" placeholder="Номер телефона" required>
                        </label>
                    </div>
                    <div class="cm-submiter__btn-box">
                        <input type="submit" class="btn btn-light cm-submiter__btn" value="submit">
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>