<h1 class="wall__title">О нас</h1>
<div class="wall__subtitle-box">
    <span class="wall__subtitle">Юрист-на-Дону</span>
</div>
<div class="container-fluid wall__entry-point">
    <div class="row wall__holder-box">
        <div class="col-8 bs-reset wall__holder">
            <section class="wall__item wall__item--fill">
                <div class="wall__description-box">
                    <span class="wall__description">
                        Оперативно помогаем компаниям и физ.лицам
                        в решении юридических вопросов
                    </span>
                </div>
            </section>
        </div>
        <div class="col-4">
            <div class="wall__item"></div>
        </div>
    </div>
</div>