<div class="container we__entry-point">
    <div class="row we__holder-box">
        <div class="col-6 we__holder">
            <section class="we__item">
                <h2 class="we__title">Мы юридическая компания</h2>
                <div class="we__description-box">
                    <span class="we__description">
                        Оперативное и профессиональное решение проблем
                        по гражданским, семейным, жилищным и трудовым делам.
                        <br>
                        Составление юридических документов (жалоб, заявлений,
                        обращений, писем) и их правовая экспертиза
                    </span>
                </div>
            </section>
            <section class="we__item">
                <h2 class="we__title">Цели</h2>
                <div class="we__description-box">
                    <span class="we__description">
                        Своевременная помощь в решении ваших юридических проблем.
                        Этапы помощи включают экспертизу, оценку сроков и само решение.
                        Выполняем поставленные задачи точно в срок и в пределах бюджета.
                        Более 5 лет оказываем правовую помощь гражданам и организациям
                    </span>
                </div>
            </section>
        </div>
        <div class="col-6 we__holder">
            <div class="we__bg-image"></div>
        </div>
    </div>
</div>