{{> metadata}}
<body class="page">
    {{> header}}
    <main class="content">
        {{{body}}}
    </main>
    <footer class="footer">
        {{> footer}}
    </footer>
    <!-- include bootstrap -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
        crossorigin="anonymous">
    </script>
    <!-- include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- include header -->
    <script src="../../compScripts/header.js"></script>
    <!-- include slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- init single slider with slick -->
    <script src="../../slider/initSingleSlider.js"></script>
    <!-- init multiple slider with slick -->
    <script src="../../slider/initMultipleSlider.js"></script>
    <!-- include jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <!-- include validation -->
    <script src="../../compScripts/contactUs.js"></script>    
    <script src="../../compScripts/contactForm.js"></script>
    <!-- include btn scroll -->
    <script src="../../compScripts/btnScroll.js"></script>
    <!-- include socket.io -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js" integrity="sha512-2ho+gY0H62N4Z9oxD422L2ZYXiOMq9l+Aub1QNz4Z4UDOtDVxz4vk6O6R3Hqqc9Y7qSvZFl7cy3+eZ/ITnUrLA==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
    ></script>
    <!-- include chat -->
    <script src="../../compScripts/chat/chat.js"></script>
    <!-- include animations footer -->
    <script src="../../compScripts/footer.js"></script>
</body>