{{> metadata}}
<body class="page">
    {{> header}}
    <main class="content">
        {{{body}}}
    </main>
    {{> footer}}
    <!-- include bootstrap -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
        crossorigin="anonymous">
    </script>
    <!-- include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- include header -->
    <script src="../../compScripts/header.min.js"></script>
    <!-- include slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- init single slider with slick -->
    <script src="../../slider/initSingleSlider.min.js"></script>
    <!-- init multiple slider with slick -->
    <script src="../../slider/initMultipleSlider.min.js"></script>
    <!-- include jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <!-- include validation -->
    <script src="../../compScripts/contactUs.min.js"></script>    
    <script src="../../compScripts/contactForm.js"></script>
    <!-- include checkbox -->
    <script src="../../compScripts/formCheckbox.min.js"></script>
    <!-- include btn scroll -->
    <script src="../../compScripts/btnScroll.min.js"></script>
    <!-- include socket.io -->
    <script 
        src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.2/socket.io.min.js" integrity="sha512-2ho+gY0H62N4Z9oxD422L2ZYXiOMq9l+Aub1QNz4Z4UDOtDVxz4vk6O6R3Hqqc9Y7qSvZFl7cy3+eZ/ITnUrLA==" 
        crossorigin="anonymous" 
        referrerpolicy="no-referrer"
    ></script>
    <!-- include chat -->
    <script src="../../compScripts/chat/chat.min.js"></script>
    <!-- include animations footer -->
    <script src="../../compScripts/footer.min.js"></script>
    <!-- include file input plugin -->
    <script src="https://cdn.jsdelivr.net/npm/jquery-fileinput@1.3.1/fileinput.js"></script>
    <!-- include init file input -->
    <script src="../../compScripts/fileInput.js"></script>
    <!-- include admin -->
    <script src="../../compScripts/admin/tab.min.js"></script>
    <script>
        const browserHeight = document.documentElement.clientHeight;
        const tabContent = $('#tabContent');
        tabContent.attr('style', 'height: ' + `${browserHeight - 200}` + 'px');
        
        const now = new Date();
        const currentDate = $('#currentDate');
        const getMonth = now.getUTCMonth() + 1;
        const getDay = now.getUTCDay();
        const getYear = now.getUTCFullYear();
        let getNameMonth;
        
        switch(getMonth) {
            case 1:
                getNameMonth = 'Января';
                break;
            case 2:
                getNameMonth = 'Февраля';
                break;
            case 3:
                getNameMonth = 'Марта';
                break;
            case 4:
                getNameMonth = 'Апреля';
                break;
            case 5:
                getNameMonth = 'Мая';
                break;
            case 6:
                getNameMonth = 'Июня';
                break;
            case 7:
                getNameMonth = 'Июля';
                break;
            case 8:
                getNameMonth = 'Августа';
                break;
            case 9:
                getNameMonth = 'Сентября';
                break;
            case 10:
                getNameMonth = 'Октября';
                break;
            case 11:
                getNameMonth = 'Ноября';
                break;
            case 12:
                getNameMonth = 'Декабря';
        }
       
        currentDate.prepend(`
            <div class="tab__day">Текущая дата: ${getDay} ${getNameMonth} ${getYear}</div>
        `);
    </script>
</body>