{{> headView}}
<body class="page">
    {{> header}}
    <main class="content">
        {{{body}}}
    </main>
    <footer class="footer">
        <!-- В этом месте должен быть футер сайта -->
    </footer>
    <!-- include bootstrap -->
    <script 
        src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" 
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" 
        crossorigin="anonymous">
    </script>
    <!-- include jQuery -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
    <!-- include slick slider -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js"></script>
    <!-- init single slider with slick -->
    <script src="../../slider/initSingleSlider.js"></script>
    <!-- init multiple slider with slick -->
    <script src="../../slider/initMultipleSlider.js"></script>
    <!-- include jquery validation -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.0/jquery.validate.min.js"></script>
    <!-- include validation -->
    <script src="../../compScripts/contactUs.js"></script>
    <script src="../../compScripts/contactForm.js"></script>
</body>