.bg-color {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 750px;
    z-index: -1;
    background: rgb(13, 110, 253, 0.25); 
}

.bg {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 750px;
    z-index: -3;
    background-image: url('../../assets/Rostov-on-Don.jpg');
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

.slider-text {
    position: relative;
    height: 630px;
}

.slider-text__item {
    position: relative;
    padding-top: 130px;
    padding-left: 93px;
}

.slider-text__block {
    width: 148.5px;
    height: 148.5px;
    background: #0d6efd;
}

.slider-text__description {
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 170px;
    margin-left: 160px; 
}

.slider-text__title-box {
    max-width: 500px;
}

.slider-text__title {
    font-size: 55px;
    color: #fff;
    line-height: normal;
}

.slider-text__subtitle-box {
    max-width: 570px;
    padding-top: 37.5px;
}

.slider-text__subtitle {
    font-size: 25px;
    color: #fff;
    line-height: normal;
}

@media screen and (max-width: 991px) {
    .slider-text__item {
        padding: 0;
    }

    .slider-text__block {
        display: none;
    }

    .slider-text__description {
        margin: 0;
    }

    .slider-text__title {
        width: 100%;
        font-size: 20px;
    }

    .slider-text__subtitle {
        width: 100%;
        font-size: 20px;
    }

    .slick-dots {
        position: absolute;
        top: 50%;
        margin: 0 50px;
        padding: 0 10px;
    }
}

@media screen and (min-width: 376px) and (max-width: 991px) {
    .slider-text__title {
        padding-left: 2.5em;
    }

    .slider-text__subtitle {
        padding-left: 2.3em;
    }
}

@media screen and (max-width: 375px) {
    .slider-text__title {
        padding-left: 1.25em;
    }

    .slider-text__subtitle {
        padding-left: 1.15em;
    }
}