<div class="error-handler">
    <div class="alert alert-primary error">
        <div class="error__code-box">
            <span class="error__code">404</span>
        </div>
        <div class="error__message">Запрашиваемая страница не была найдена!</div>
    </div>
</div>