<section class="wall">
    {{> wall}}
</section>
<section class="we">
    {{> we}}
</section>
<section class="job">
    {{> job}}
</section>
<section class="me">
    {{> me}}
</section>
<div class="container safety">
    <div class="row">
        <div class="col-7 bs-reset">
            <div class="in-touch">
                {{> contactForm}}
            </div>
        </div>
        <div class="col-5 bs-reset">
            <div class="safety__content">
                <h3 class="safety__title">В числе наших доверителей:</h3>
                <div class="safety__description-box">
                    <span class="safety__description">
                        Уполномоченный по правам студентов в Ростовской Области
                        <br>
                        Исполком регионального отделения ОНФ по Ростовской Области
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>