<section class="wall">
    <h1 class="wall__title">О нас</h1>
    <div class="wall__subtitle-box">
        <span class="wall__subtitle">Юрист-на-Дону</span>
    </div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-8 is-unified">
                <section class="wall__item wall__item--fill">
                    <div class="wall__description-box">
                        <span class="wall__description">
                            Оперативно помогаем компаниям и физ.лицам
                            в решении юридических вопросов
                        </span>
                    </div>
                </section>
            </div>
            <div class="col-4">
                <div class="wall__item"></div>
            </div>
        </div>
    </div>
</section>
<section class="we">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <section class="we__item">
                    <h2 class="we__title">Мы юридическая компания</h2>
                    <div class="we__description-box">
                        <span class="we__description">
                            Оперативное и профессиональное решение проблем
                            по гражданским, семейным, жилищным и трудовым делам.
                            <br>
                            Составление юридических документов (жалоб, заявлений,
                            обращений, писем) и их правовая экспертиза
                        </span>
                    </div>
                </section>
                <section class="we__item">
                    <h2 class="we__title">Цели</h2>
                    <div class="we__description-box">
                        <span class="we__description">
                            Своевременная помощь в решении ваших юридических проблем.
                            Этапы помощи включают экспертизу, оценку сроков и само решение.
                            Выполняем поставленные задачи точно в срок и в пределах бюджета.
                            Более 5 лет оказываем правовую помощь гражданам и организациям
                        </span>
                    </div>
                </section>
            </div>
            <div class="col-6">
                <div style="background-image: url('../assets/horizon.jpg'); background-size: cover; height:100%;"></div>
            </div>
        </div>
    </div>
</section>
<section class="job" style="margin-top: 1.875rem;">
    <div class="container">
        <div class="row">
            <div class="col-6" style="height: 350px; width: calc(50% + .75rem);">
                <div style="background-image: url('../assets/meeting.jpg'); background-size: cover; height:100%;"></div>
            </div>
            <div class="col-6" style="width: calc(50% - .75rem); padding-left: 3.75rem; padding-right: 0;">
                <h2 class="job__title" style="padding-top: .5rem; color: #191919; font-size: 27.2px; text-transform: uppercase; margin-bottom: calc(.5rem * 4)">Работа</h2>
                <div class="job__description-box" style="width: 370px; font-size: 20px;">
                    <span class="job__description">
                        Работа с нами - возможность расти профессионально,
                        выполняя интересные челленджи. Возможность достигнуть результата,
                        которым можно гордиться
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="me">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="me__title" style="font-size: 27.2px; font-weight: 600; margin-top: calc(.5rem * 4);">Сергей Назаров</h2>
                <h3 class="me__subtitle" style="font-size: 20px; margin-top: calc(.5rem * 2); margin-bottom: 3.75rem;">Генеральный директор</h3>
                <div class="me__description-box" style="padding-bottom: 3.75rem; width: 370px; font-size: 20px;">
                    <span class="me__description">
                        Выпускник Юридического факультета ЮФУ
                        (дипломы с отличием, гражданско- и семейно-
                        правовая специализация).
                        <br>
                        Участник семинаров, конференций, автор научных статей
                        <br>
                        Победитеь конкурса Professional Responsibility
                        and Ethics in the Global Legal Market (MГУ / DLA Piper / 
                        White & Case)
                    </span>
                </div>
            </div>
            <div class="col-6">
                <!-- В этом месте нужно вставить фото -->
            </div>
        </div>
    </div>
</section>
<div class="container-fluid safety">
    <div class="row">
        <div class="col-7 is-unified">
            <div class="in-touch">
                <!-- <form class="contact-form">
                    <h3 class="contact-form__title">Оставьте заявку</h3>
                    <div class="contact-form__content-box">
                        <label class="form-label contact-form__cm-input-box">
                            <div class="contact-form__name-box">
                                <span class="contact-form__input-name">Ваше имя</span>
                            </div>
                            <input type="text" class="form-control contact-form__input" placeholder="Имя" required>
                        </label>
                        <label class="form-label contact-form__cm-input-box">
                            <div class="contact-form__name-box">
                                <span class="contact-form__input-name">E-mail</span>
                            </div>
                            <input type="email" class="form-control contact-form__input" placeholder="E-mail" required>
                        </label>
                    </div>
                    <div class="contact-form__field-box">
                        <label class="form-label contact-form__cm-input-box">
                            <div class="contact-form__name-box">
                                <span class="contact-form__input-name">Номер телефона</span>
                            </div>
                            <input type="text" class="form-control contact-form__input" placeholder="Телефон" required>
                        </label>
                    </div>
                    <div class="contact-form__field-box">
                        <label class="form-label contact-form__cm-input-box is-full">
                            <div class="contact-form__name-box">
                                <span class="contact-form__input-name">Ваше сообщение</span>
                            </div>
                            <textarea class="form-control contact-form__detail is-full" rows="5"></textarea>
                        </label>
                    </div>
                    <div class="contact-form__btn-box">
                        <input type="submit" class="btn contact-form__cm-btn" value="Отправить">
                    </div>
                </form> -->
                <form class="row g-2 cm-contact-form"> <!-- contact-form -->
                    <h3 class="cm-contact-form__title">Оставьте заявку</h3>
                    <div class="row g-2">
                        <div class="col-6 cm-contact-form__item cm-equal">
                            <label class="form-label cm-contact-form__input-box">
                                <div class="cm-contact-form__name-box">
                                    <span class="cm-contact-form__input-name">Ваше имя</span>
                                </div>
                                <input type="text" class="form-control cm-contact-form__input" placeholder="Имя" required>
                            </label>
                        </div>
                        <div class="col-6 cm-contact-form__item cm-equal">
                            <label class="form-label cm-contact-form__input-box">
                                <div class="cm-contact-form__name-box">
                                    <span class="cm-contact-form__input-name">E-mail</span>
                                </div>
                                <input type="text" class="form-control cm-contact-form__input" placeholder="E-mail" required>
                            </label>
                        </div>
                    </div>
                    <div class="row cm-contact-form__item">
                        <label class="form-label cm-contact-form__input-box">
                            <div class="cm-contact-form__name-box">
                                <span class="cm-contact-form__input-name">Номер телефона</span>
                            </div>
                            <input type="text" class="form-control cm-contact-form__input" placeholder="Телефон" required>
                        </label>
                    </div>
                    <div class="row cm-contact-form__item">
                        <label class="form-label cm-contact-form__input-box">
                            <div class="cm-contact-form__name-box">
                                <span class="cm-contact-form__input-name">Ваше сообщение</span>
                            </div>
                            <textarea class="form-control cm-contact-form__detail" rows="5"></textarea>
                        </label>
                    </div>
                    <div class="cm-contact-form__btn-box">
                        <input type="submit" class="btn cm-contact-form__btn" value="Отправить">
                    </div>
                </form>
            </div>
        </div>
        <div class="col-5 is-unified">
            <div class="safety__content">
                <h3 class="safety__title">В числе наших доверителей:</h3>
                <div class="safety__description-box">
                    <span class="safety__description">
                        Уполномоченный по правам студентов в Ростовской Области
                        <br>
                        Исполком регионального отделения ОНФ по Ростовской Области
                    </span>
                </div>
            </div>
        </div>
    </div>
</div>