<form class="contact-us">
    <div class="row contact-us__cm-content">
        <div class="contact-us__title-box">
            <span class="contact-us__title">Напишите нам</span>
        </div>
        <div class="contact-us__data">
            <!-- Поместить теги полей формы -->
        </div>
        <!-- <label class="form-label">
            <input type="text" class="form-control" required>
            <label class="form-label">Ваше имя</label>
        </label>
        <label class="form-label">
            <input type="email" class="form-control">
            <label class="form-label">Ваш email</label>
        </label>
        <label class="form-label">
            <input type="text" class="form-control" required>
            <label class="form-label">Номер телефона</label>
        </label>
        <label class="form-label">
            <textarea class="form-control" rows="3" required></textarea>
            <label class="form-label"></label>
        </label> -->
    </div>
</form>