<section class="wall">
    <h1 class="wall__title">О нас</h1>
    <div class="wall__subtitle-box">
        <span class="wall__subtitle">Юрист-на-Дону</span>
    </div>
    <div class="wall__description-box">
        <span class="wall__description">
            Оперативно помогаем компаниям и физ.лицам
            в решении юридических вопросов
        </span>
    </div>
</section>
<section class="we">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <section class="we__item">
                    <h2 class="we__title">Мы юридическая компания</h2>
                    <div class="we__description-box">
                        <span class="we__description">
                            Оперативное и профессиональное решение проблем
                            по гражданским, семейным, жилищным и трудовым делам.
                            <br>
                            Составление юридических документов (жалоб, заявлений,
                            обращений, писем) и их правовая экспертиза
                        </span>
                    </div>
                </section>
                <section class="we__item">
                    <h2 class="we__title">Цели</h2>
                    <div class="we__description-box">
                        <span class="we__description">
                            Своевременная помощь в решении ваших юридических проблем.
                            Этапы помощи включают экспертизу, оценку сроков и само решение.
                            Выполняем поставленные задачи точно в срок и в пределах бюджета.
                            Более 5 лет оказываем правовую помощь гражданам и организациям
                        </span>
                    </div>
                </section>
            </div>
            <div class="col-6">
                <!-- В этом месте нужно вставить фото -->
            </div>
        </div>
    </div>
</section>
<section class="job">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <!-- В этом месте нужно вставить фото -->
            </div>
            <div class="col-6">
                <h2 class="job__title">Работа</h2>
                <div class="job__description-box">
                    <span class="job__description">
                        Работа с нами - возможность расти профессионально,
                        выполняя интересные челленджи. Возможность достигнуть результата,
                        которым можно гордиться
                    </span>
                </div>
            </div>
        </div>
    </div>
</section>
<section class="me">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <h2 class="me__title">Сергей Назаров</h2>
                <h3 class="me__subtitle">Генеральный директор</h3>
                <div class="me__description-box">
                    <span class="me__description">
                        Выпускник Юридического факультета ЮФУ
                        (дипломы с отличием, гражданско- и семейно-
                        правовая специализация).
                        <br>
                        Участник семинаров, конференций, автор научных статей
                        <br>
                        Победитеь конкурса Professional Responsibility
                        and Ethics in the Global Legal Market (MГУ / DLA Piper / 
                        White & Case)
                    </span>
                </div>
            </div>
            <div class="col-6">
                <!-- В этом месте нужно вставить фото -->
            </div>
        </div>
    </div>
</section>
<div class="in-touch">
    <form class="contact-form">
        <label class="form-label">
            <span>Ваше имя</span>
            <input type="text" class="form-control" placeholder="Имя" required>
        </label>
        <label class="form-label">
            <span>E-mail</span>
            <input type="email" class="form-control" placeholder="E-mail" required>
        </label>
        <label class="form-label">
            <span>Номер телефона</span>
            <input type="text" class="form-control" placeholder="Телефон" required>
        </label>
        <label class="form-label">
            <span>Ваше сообщение</span>
            <textarea class="form-control" rows="3"></textarea>
        </label>
        <input type="submit" class="btn" value="Отправить">
    </form>
</div>