
<div class="container-fluid grid">
    <div class="row grid__cm-info">
        <div class="col-7 grid__cm-column-more"> 
            <div class="grid__text-box">
                <span class="grid__head">01 ____ области экспертизы</span>
                <span class="grid__text">Гражданско-правовые споры.</span>
            </div>
            <div class="grid__btn-box">
                <a href="#" class="grid__btn-link" title="УЗНАТЬ БОЛЬШЕ">
                    <span class="grid__btn-text">Узнать больше</span>
                </a>
            </div>
        </div>
        <div class="col-5 grid__cm-column-less">
            <div class="grid__img-box">
                <img src="../assets/strong.jpg" class="img-fluid grid__cm-img" alt="Гражданско-правовые споры.">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid grid">
    <div class="row grid__cm-info">
        <div class="col-7 grid__cm-column-more">
            <div class="grid__text-box">
                <span class="grid__head">01 ____ области экспертизы</span>
                <span class="grid__text">Семейно-правовые споры.</span>
            </div>
            <div class="grid__btn-box">
                <a href="#" class="grid__btn-link" title="УЗНАТЬ БОЛЬШЕ">
                    <span class="grid__btn-text">Узнать больше</span>
                </a>
            </div>
        </div>
        <div class="col-5 grid__cm-column-less">
            <div class="grid__img-box">
                <img src="../assets/justice.jpg" class="img-fluid grid__cm-img" alt="Семейно-правовые споры.">
            </div>
        </div>
    </div>
</div>
<div class="page__gallery-box">
    <div class="container">
        <div class="row">
            <div class="col-4">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/handcuffs.svg" class="cm-card__img" alt="Алиментные обстоятельства">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Алиментные споры</h5>
                            <p class="card-text cm-card__text">
                                Урегулирование споров 
                                по взысканию алиментов
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/rings.svg" class="cm-card__img" alt="Развод и раздел имущества">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Раздел имущества</h5>
                            <p class="card-text cm-card__text">
                                Защита имущественных интересов 
                                клиентов при разводе
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/protection.svg" class="cm-card__img" alt="Родительские права">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Родительские права</h5>
                            <p class="card-text cm-card__text">
                                Помощь в спорах, 
                                связанных с правами на детей
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/statue.svg" class="cm-card__img" alt="Вопросы по усыновлению">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Вопросы усыновления</h5>
                            <p class="card-text cm-card__text">Консультации при усыновлении детей</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/balance.svg" class="cm-card__img" alt="Общение с ребенком">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Споры при разводе</h5>
                            <p class="card-text cm-card__text">
                                Помощь в решении конфликтов 
                                при разводе родителей
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/solution.svg" class="cm-card__img" alt="Семейный психолог">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Семейный психолог</h5>
                            <p class="card-text cm-card__text">
                                Помощь в решении конфликтов супругов, 
                                родителей и детей
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container page__cm-grid-about">
    <div class="row">
        <div class="col-5">
            <div class="page__description-box">
                <div class="description">
                    <div class="description__header">
                        <span class="description__title">02 ____ О нас</span>
                        <span class="description__text">
                            Юридическая фирма, предоставляющая консультации по актуальным
                            юридическим вопросам.
                        </span>
                    </div>
                    <div class="description__item-box">
                        <div class="description__item">
                            <div class="description__icon-box">
                                <img src="../assets/cash.png" class="description__icon" alt="Наличные">
                            </div>
                            <div class="description__text-box">
                                <span class="description__text-item-head">
                                    Выгодные цены на все услуги
                                </span>
                                <span class="description__text-item-main">
                                    Мы четко определяем стоимость наших юридических услуг
                                    до заключения договора.
                                </span>
                            </div>
                        </div>
                        <div class="description__item">
                            <div class="description__icon">
                                <img src="../assets/pen.png" class="description__icon" alt="Консультации">
                            </div>
                            <div class="description__text-box">
                                <span class="description__text-item-head">
                                    Бесплатные консультации
                                </span>
                                <span class="description__text-item-main">
                                    Мы готовы предоставить быструю 
                                    и качественную онлайн помощь.
                                </span>
                            </div>
                        </div>
                        <div class="description__item">
                            <div class="description__icon">
                                <img src="../assets/list.png" class="description__icon" alt="Индивидуальный подход">
                            </div>
                            <div class="description__text-box">
                                <span class="description__text-item-head">
                                    Индивидуальный подход к каждому клиенту
                                </span>
                                <span class="description__text-item-main">
                                    Вы получите персональный план решения вашей проблемы.
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-7 cm-description-service">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__block">
                            <div class="cm-description-service__text-box">
                                <span class="cm-description-service__text-title">
                                    Вы оставляете заявку
                                </span>
                                <span class="cm-description-service__text-main">
                                    На сайте или звоните по телефону
                                </span>
                                <span class="cm-description-service__info">
                                    +7 (951) 839-59-39
                                </span>
                            </div>
                            <img src="../assets/table.jpg" class="img-fluid cm-description-service__img" alt="Заявка">
                        </div>
                    </div>
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__block">
                            <div class="cm-description-service__text">
                                <span class="cm-description-service__text-title">
                                    Мы связываемся с вами
                                </span>
                                <span class="cm-description-service__text-main">
                                    Наш менеджер связывается с вами
                                </span>
                            </div>
                            <img src="../assets/calling.jpg" class="img-fluid cm-description-service__img" alt="Звонок">
                        </div>
                    </div>
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__text">
                            <span class="cm-description-service__text-title">
                                Подписание договора
                            </span>
                            <span class="cm-description-service__text-main">
                                Согласуем время подписания договора
                            </span>
                        </div>
                        <div class="cm-description-service__block">
                            <img src="../assets/singing.jpg" class="img-fluid cm-description-service__img" alt="Договор">
                        </div>
                    </div>
                    <div class="col-6 cm-description-service__item">
                        <div class="cm-description-service__text">
                            <span class="cm-description-service__text-title">
                                Оперативное решение вопроса
                            </span>
                            <span class="cm-description-service__text-main">
                                Наши специалисты решают вашу проблему
                            </span>
                        </div>
                        <d class="cm-description-service__block">
                            <img src="../assets/deal.jpg" class="img-fluid cm-description-service__img" alt="Решение">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
