
<div class="page__balance">
    {{> balanceIndex}}
</div>
<div class="page__solution">
    {{> solutionIndex}}
</div>
<div class="page__gallery-box">
    {{> servicesIndex}}
</div>
<div class="container page__cm-grid-about">
    {{> descriptionIndex}}
</div>
<div class="page__submiter-box">
    {{> submiterIndex}}
</div>
<div class="container-fluid cm-location__box">
    <div class="row cm-location__contact">
        <div class="col-4 cm-location__address-box">
            {{> locationIndex}}
        </div>
        <div class="col-8 cm-location__map">
            {{> mapIndex}}
        </div>
    </div>
</div>