<section class="fake">
    {{> headerCopy}}
</section>
<section class="show">
    {{> singleSlider}}
</section>
<section class="specialty">
    {{> direction}}
</section>
<section class="state">
    {{> card}}
</section>
<section class="possibility">
    {{> description}}
</section>
<section class="contact">
    {{> contactUs}}
</section>
<section class="overview">
    {{> multipleSlider}}
</section>
<section class="here">
    {{> place}}
</section>
{{> btnScroll}}
