<div class="index">
    <div class="index__port">
        <div class="index__logo">
            <span class="index__element">S</span>
            <span class="index__slogan">sergeynazarov</span>
        </div>
        <div class="index__menu">
            <nav class="navbar navbar-expand-lg navbar-light bg-light index__cm-menu-box">
                <div class="container-fluid">
                    <button 
                        class="navbar-toggler index__cm-toggler" 
                        type="button" 
                        data-bs-toggle="collapse" 
                        data-bs-target="#navbarSupportedContent" 
                        aria-controls="navbarSupportedContent" 
                        aria-expanded="false" 
                        aria-label="Toggle navigation"
                    >
                        <!-- место для анимированной иконки -->
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div 
                        class="collapse navbar-collapse index__cm-dropdown" 
                        id="navbarSupportedContent"
                    >
                        <ul class="navbar-nav index__cm-navbar">
                            <li class="nav-item index__cm-item">
                                <a 
                                    class="nav-link index__cm-link active" 
                                    aria-current="page" 
                                    href="#"
                                >
                                    Главная
                                </a>
                            </li>
                            <li class="nav-item dropdown index__cm-item">
                                <a 
                                    class="nav-link dropdown-toggle index__cm-link"
                                    href="#"
                                    id="navbarDropdown"
                                    role="button"
                                    data-bs-toggle="dropdown"
                                    aria-expanded="false"
                                >
                                    О компании
                                </a>
                                <ul 
                                    class="dropdown-menu index__cm-dropdown-menu" 
                                    aria-labelledby="navbarDropdown"
                                >
                                    <li 
                                        class="dropdown-item index__cm-dropdown-item"
                                        href="#"
                                    >
                                        Услуги компании
                                    </li>
                                </ul>
                            </li>
                            <li class="nav-item index__cm-item">
                                <a 
                                    class="nav-link index__cm-link"
                                    href="#"
                                >
                                    Контакты
                                </a>
                            </li>
                            <li class="nav-item index__cm-item">
                                <a 
                                    class="nav-link index__cm-link"
                                    href="#"
                                >
                                    Связаться с нами
                                </a>
                            </li>
                        </ul>
                    </div>
                </div>
            </nav>
        </div>
    </div>      
</div>