<section class="show">
    {{> singleSlider}}
</section>
<section class="specialty">
    {{> direction}}
</section>
<section class="state">
    {{> card}}
</section>
<section class="possibility">
    {{> description}}
</section>
<section class="contact">
    {{> contactUs}}
</section>
<!-- сверстать слайдер -->
<section class="overview">
    {{> multipleSlider}}
</section>
<section class="content__location"> <!-- !!! -->
    <div class="container-fluid cm-location">
        <div class="row cm-location__contact">
            <div class="col-4 cm-location__address-box">
                {{> locationIndex}}
            </div>
            <div class="col-8 cm-location__map">
                {{> mapIndex}}
            </div>
        </div>
    </div>
</section>