
<div class="container-fluid grid">
    <div class="row grid__cm-info">
        <div class="col-7 grid__cm-column-more"> 
            <div class="grid__text-box">
                <span class="grid__head">01____ области экспертизы</span>
                <span class="grid__text">Гражданско-правовые споры.</span>
            </div>
            <div class="grid__btn-box">
                <a href="#" class="grid__btn-link" title="УЗНАТЬ БОЛЬШЕ">
                    <span class="grid__btn-text">Узнать больше</span>
                </a>
            </div>
        </div>
        <div class="col-5 grid__cm-column-less">
            <div class="grid__img-box">
                <img src="../assets/strong.jpg" class="img-fluid grid__cm-img" alt="Гражданско-правовые споры.">
            </div>
        </div>
    </div>
</div>
<div class="container-fluid grid">
    <div class="row grid__cm-info">
        <div class="col-7 grid__cm-column-more">
            <div class="grid__text-box">
                <span class="grid__head">01____ области экспертизы</span>
                <span class="grid__text">Семейно-правовые споры.</span>
            </div>
            <div class="grid__btn-box">
                <a href="#" class="grid__btn-link" title="УЗНАТЬ БОЛЬШЕ">
                    <span class="grid__btn-text">Узнать больше</span>
                </a>
            </div>
        </div>
        <div class="col-5 grid__cm-column-less">
            <div class="grid__img-box">
                <img src="../assets/justice.jpg" class="img-fluid grid__cm-img" alt="Семейно-правовые споры.">
            </div>
        </div>
    </div>
</div>
<div class="page__gallery-box">
    <div class="container">
        <div class="row">
            <div class="col">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/handcuffs.svg" class="cm-card__img" alt="Алиментные обстоятельства">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Алиментные споры</h5>
                            <p class="card-text cm-card__text">Урегулирование споров по взысканию алиментов</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/rings.svg" class="cm-card__img" alt="Развод и раздел имущества">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Раздел имущества</h5>
                            <p class="card-text cm-card__text">Защита имущественных интересов клиентов при разводе</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/protection.svg" class="cm-card__img" alt="Родительские права">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Родительские права</h5>
                            <p class="card-text cm-card__text">Помощь в спорах, связанных с правами на детей</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/statue.svg" class="cm-card__img" alt="Вопросы по усыновлению">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Вопросы усыновления</h5>
                            <p class="card-text cm-card__text">Консультации при усыновлении детей</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/balance.svg" class="cm-card__img" alt="Общение с ребенком">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Споры при разводе</h5>
                            <p class="card-text cm-card__text">Помощь в решении конфликтов при разводе родителей</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="page__card-box">
                    <div class="card cm-card">
                        <img src="../assets/solution.svg" class="cm-card__img" alt="Семейный психолог">
                        <div class="card-body">
                            <h5 class="card-title cm-card__title">Семейный психолог</h5>
                            <p class="card-text cm-card__text">Помощь в решении конфликтов супругов, родителей и детей</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>





