<section class="content__balance">
    {{> directionView}}
</section>
<section class="content__gallery">
    {{> cardView}}
</section>
<section class="content__description">
    {{> descriptionIndex}}
</section>
<section class="content__submiter">
    {{> submiterIndex}}
</section>
<section>
    <div class="multiple-slider">
        <div class="multiple-slider__item">
            <h3 class="multiple-slider__data">1</h3>
        </div>
        <div class="multiple-slider__item">
            <h3 class="multiple-slider__data">2</h3>
        </div>
        <div class="multiple-slider__item">
            <h3 class="multiple-slider__data">3</h3>
        </div>
        <div class="multiple-slider__item">
            <h4 class="multiple-slider__data">4</h4>
        </div>
    </div>
</section>
<section class="content__location">
    <div class="container-fluid cm-location">
        <div class="row cm-location__contact">
            <div class="col-4 cm-location__address-box">
                {{> locationIndex}}
            </div>
            <div class="col-8 cm-location__map">
                {{> mapIndex}}
            </div>
        </div>
    </div>
</section>