.tab {
    padding: 0;
}

.tab__item {
    display: block;
    width: 320px;
    color: #fff;
    box-shadow: 0 0 0 3em #0d6efd inset;
    border-radius: 0 !important;
    font-size: 16px;
    padding: 1.4em 1.7em;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease;
}

.tab__item:hover {
    background: #fff;
    color: #0d6efd;
    box-shadow: 0 0 0 1px #0d6efd inset;
}

.tab__item.is-active {
    color: #fff;
}

.tab__item:hover.is-active {
    color: #0d6efd;
}

.tab__content-box {
    position: relative;
    width: 100%;
    height: 100%;
}

.tab__upload-data {
    height: 100%;
    background: #0d6efd;
    padding: 1rem;
}

.tab__item-content {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    margin: 0;
}

.tab__item-content.show {
    margin: 0;
}

.tab__input-box {
    width: 100%;
}

.tab__input {
    width: 100%;
    height: 70px;
    cursor: pointer;
}

.tab__input,
.tab__input:focus {
    border-radius: 0;
    background: rgba(255, 255, 255, .1);
    color: #fff;
    border: none;
}

.tab__input:focus {
    box-shadow: none;
}

.tab__input::placeholder {
    color: #fff;
}

.tab__btn {
    width: 270px;
    height: 70px;
    border-radius: 0;
    font-size: .9em;
    border: none;
    color: #fff;
    line-height: 3.1em;
    text-transform: uppercase;
    font-weight: 700;
    box-shadow: 0 0 0 3em rgba(255, 255, 255, .1) inset;
    transition: all .3s ease;
}

.tab__btn:hover {
    background: #fff;
    color: #0d6efd;
    box-shadow: 0 0 0 1px #0d6efd inset;
}