/*
    Начинаем анимировать header
*/
.header {
    transform: translateY(-100%);
}

/*
    Анимирование кнопки звонка в header
*/
.header__phone-number {
    background: #000;
    color: #fff;
    border: none;
    box-shadow: 0 0 0 3em transparent inset;
    transition: all 280ms ease;
}

.header__phone-number:hover,
.header__call-btn:hover + .header__phone-number {
    background: transparent;
    color: #fff;
    box-shadow: 0 0 0 1px #000 inset;
}

/*
    Продолжение анимации header
*/

.header.out {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 10;
    background: #fff;
    /*
        Плавно возвращаем header на место
    */
    transform: translateY(0);
    transition: all .3s ease;
}
/*
    Изменения базовых стилей самого хедера при его появлении
*/

.header.out > .header__port {
    padding: 0;
}

.header.out .header__slogan,
.header.out .header__phone-number:hover,
.header.out .header__call-btn:hover + .header__phone-number {
    color: #000;
}

.index__cm-navbar > .index__cm-item > .index__cm-link {
    position: relative;
    display: block;
    color: #fff;
    padding-left: 0;
    transition: .5s;
    overflow: hidden;
}

.index__cm-navbar > .index__cm-item {
    position: relative;
}

.index__cm-dropdown-menu {
    background: transparent;
    margin: 0;
    padding: 0;
    list-style: none;
    padding-top: .5rem;
    padding-bottom: .5rem;
    border-radius: 0;
    border-bottom: 1px solid #0d6efd;
}

.index__cm-dropdown-menu {
    opacity: 0;
    transform-origin: top center;
}

.index__cm-item > .index__cm-dropdown-menu {
    position: absolute;
    width: 160px;
}

.index__cm-dropdown-menu .index__cm-link {
    color: #0d6efd;
    padding: 0;
}

.index__cm-item:hover > .index__cm-link + .index__cm-dropdown-menu {
    animation: dropAnim .3s ease-in-out forwards;
}

.index__cm-item > .index__cm-link:hover {
    color: #fff;
}

.index__cm-item.is-active > .index__cm-link,
.index__cm-item.is-active > .index__cm-link:hover {
    color: #0d6efd;
}

.index__cm-item.is-active > .index__cm-link::before {
    background: #fff;
}

.index__cm-item > .index__cm-link:hover::before {
    animation: crossOut .5s linear forwards;
}

.index__cm-link:hover + .index__cm-dropdown-menu  {
    opacity: 1;
}

.index__cm-item > .index__cm-link::before {
    content: "";
    position: absolute;
    top: calc(50% - 2px);
    left: -100%;
    width: 100%;
    height: 2px;
    background: #0d6efd;
    transition: .5s;
}

/*
    Изменения базовых стилей меню при появлении хедера
*/

.index.scroll .index__cm-item.is-active > .index__cm-link::before {
    background: #000;
}

.index.scroll .index__cm-item:not(.is-active) > .index__cm-link {
    color: #000;
}

.contacts__icon {
    background: #0d6efd;
    color: #fff;
    box-shadow: 0 0 0 3em transparent inset;
    border: none;
    transition: all 280ms ease;
}

.contacts__icon:hover {
    background: #fff;
    color: #0d6efd;
    box-shadow: 0 0 0 1px #0d6efd inset;
}

.carousel-image > .slick-prev,
.carousel-image > .slick-next {
    background: #0d6efd;
    color: transparent;
    box-shadow: 0 0 0 3em transparent inset;
    border: none;
    transition: all 280ms ease;
}

.carousel-image > .slick-prev:hover,
.carousel-image > .slick-next:hover {
    background: transparent;
    color: transparent;
    box-shadow: 0 0 0 1px #0d6efd inset;
}

.contact-form__btn {
    box-shadow: 0 0 0 2px inset;
}

.contact-form__btn:hover {
    box-shadow: 0 0 0 3em #fff inset;
    transition: all 300ms ease;
}

.footer__phone-number {
    background: transparent;
    color: #000;
    box-shadow: 0 0 0 1px #0d6efd inset;
    transition: all 280ms ease;
  }

  .footer__phone-number:hover,
  .footer__call-btn:hover + .footer__phone-number {
    background: #0d6efd;
    color: #fff;
    box-shadow: 0 0 0 3em transparent inset;
  }

@keyframes crossOut {
    0% {
        top: calc(50% - 2px);
        left: -100%;
        height: 2px;
        z-index: 1;
    }
    50% {
        top: calc(50% - 2px);
        left: 0;
        height: 2px;
        z-index: 1;
    }
    100% {
        top: 0;
        left: 0;
        height: 100%;
        z-index: -1;
    }
}

@keyframes dropAnim {
    0% {
        opacity: 0;
        transform: translateX(30px) rotateY(90deg); 
    }

    100% {
        opacity: 1;
        transform: translateX(0) translateY(0);
    }
}