.specialty {
    padding-bottom: 7.5em; 
}

.state {
    padding-top: 105px;
    padding-bottom: calc((3.75em * 2) - 1.5rem);
}

@media screen and (min-width: 1401px) {
    .possibility {
        padding-left: 11px; 
    }
}

/*
    ----!!!----
*/
.content__submiter {
    margin-top: 3.75rem;
}