.page {
    font-family: 'Montserrat', sans-serif;
}

.show {
    margin-top: -120px;
}

.specialty {
    padding-bottom: 7.5em; 
}

.state {
    padding-top: 105px;
    padding-bottom: calc((3.75em * 2) - 1.5rem);
}

.contact {
    margin-top: 3.75rem; 
}

.overview {
    margin-top: 60px;
    margin-bottom: 60px;
}

.bs-reset {
    padding: 0;
}

@media screen and (min-width: 1401px) {
    .possibility {
        padding-left: 11px; 
    }
}