.admin__content {
    position: relative;
}

.admin__messager-box {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin-top: 30px;
}

@media screen and (max-width: 767px) {
    .admin__tab-box {
        width: 100%;
    }

    .admin__messager-box {
        width: 100%;
        position: relative;
        margin: 0;
    }
}

.dashboard-menu__humburger {
    width: 60px;
    height: 100%;
    padding: 20px 0;
    margin: 0 40px;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    cursor: pointer;
}

.dashboard-menu__humburger:hover,
.dashboard-menu__humburger:focus {
    outline: none;
}

.dashboard-menu__humburger:hover .dashboard-menu__item:nth-child(1),
.dashboard-menu__humburger:focus .dashboard-menu__item:nth-child(1) {
    transform: rotate(45deg) translate(12px, 12px);
}

.dashboard-menu__humburger:hover .dashboard-menu__item:nth-child(2),
.dashboard-menu__humburger:focus .dashboard-menu__item:nth-child(2) {
    visibility: hidden;
}

.dashboard-menu__humburger:hover .dashboard-menu__item:nth-child(3),
.dashboard-menu__humburger:focus .dashboard-menu__item:nth-child(3) {
    transform: rotate(-45deg) translate(15px, -16px);
}

.dashboard-menu__item {
    width: 100%;
    height: 8px;
    background: #0d6efd;
    margin: 5px auto;
    transition: all 0.3s ease;
}

@media screen and (min-width: 1400px) {
    .dashboard-menu {
        margin: 0 40px;
    }

    .dashboard-menu--repeating {
        margin: 7px 15px 0;
    }
}

.tab {
    padding: 0;
    margin: 40px;
}

.tab__redirect,
.tab__panel-attr {
    position: absolute;
    top: 0;
    z-index: 8;
}

.tab__redirect {
    left: 0;
}

.tab__panel-attr {
    right: 0;
}

.tab__day,
.tab__redirect-link {
    padding-top: 1.3rem;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
}

.tab__redirect-link {
    text-transform: uppercase;
}

.tab__redirect-link:hover {
    color: #fff;
}

.tab__redirect-link:focus {
    box-shadow: none;
}

.tab__day {
    font-size: 17px;
    padding-right: 1rem;
}

.tab__content-box {
    position: relative;
    height: 100%;
}

.tab__content-box,
.tab__input-box,
.tab__input {
    width: 100%;
}

.tab__item-box {
    margin-right: 1.5rem;
}

.tab__item {
    display: block;
    width: 200px;
    color: #fff;
    box-shadow: 0 0 0 3em #0d6efd inset;
    border-radius: 0 !important;
    font-size: 16px;
    padding: 1.4em 1.7em;
    margin-bottom: .5rem;
    text-transform: uppercase;
    font-weight: 700;
    transition: all .3s ease;
}

.tab__item:hover {
    background: #fff;
    color:#0d6efd;
    box-shadow: 0 0 0 1px #0d6efd inset;
}

.tab__item.is-active,
.tab__item.is-active:hover {
    color: #fff;
}

.tab__item-content {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    background: #0d6efd;
    margin: 0;
}

.tab__item-content.show {
    margin: 0;
}

.tab__upload-data {
    height: 100%;
    margin-top: 100px;
    background: transparent;
    padding: 1rem;
}

.tab__input-box {
    position: relative;
}

.tab__input {
    font-size: 20px;
    color: #fff;
    background: rgba(255, 255, 255, .1);
    height: 70px;
    cursor: pointer;
    border-radius: 0;
    border: none;
}

.tab__input:focus {
    color: #fff;
    background: rgba(255, 255, 255, .1);
    border-radius: 0;
    border: none;
    box-shadow: none;
}

.tab__input::placeholder {
    color: #fff;
}

.tab__input--large {
    height: 81.6px;
    font-size: 22px;
}

.tab__input--downloaded span {
    display: inline-block;
    width: 100%;
    height: 100%;
    color: transparent;
    cursor: pointer;
}

.tab__input-text {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    padding: .375rem .75em;
    color: #fff;
    font-size: 20px;
    align-items: center;
    pointer-events: none;
}

.tab__btn {
    width: 270px;
    font-size: .9em;
    font-weight: 700;
    line-height: 3.1em;
    text-transform: uppercase;
    color: #fff;
    border-radius: 0;
    border: none;
    box-shadow: 0 0 0 3em rgba(255, 255, 255, .1) inset;
    cursor: pointer;
    transition: all .3s ease;
}

.tab__btn:hover {
    background: #fff;
    color:#0d6efd;
    box-shadow: 0 0 0 1px #0d6efd inset;
}

@media screen and (max-width: 1399px) {
    .tab {display: none !important;}
}

@media screen and (min-width: 1400px) {
    .is-unlock {display: none;}
} 

.dashboard-menu--repeating {
    display: flex;
    width: 50px;
    height: 45px;
    float: right;
    border: 2px solid #fff;
    padding-bottom: 15px;
}

.dashboard-menu--repeating:hover {
    border: none;
}

.dashboard-menu__bento {
    display: flex;
    justify-content: center;
    align-items: center;
}

.dashboard-menu__block {
    display: inline-block;
    width: 10px;
    height: 10px;
    background: transparent;
    border: 2px solid #fff;
    margin: 3px;
}

.dashboard-menu__block:nth-child(1),
.dashboard-menu__block:nth-child(3),
.dashboard-menu__block:nth-child(4),
.dashboard-menu__block:nth-child(5) {
    transition: all 0.3s ease;
}

.dashboard-menu__block:nth-child(1) {
    transform: translateX(6.5px) translateY(15px);
}

.dashboard-menu__block:nth-child(2) {
    opacity: 0;
}

.dashboard-menu__block:nth-child(3) {
    transform: translateX(-6.5px) translateY(15px);
}

.dashboard-menu__block:nth-child(4) {
    transform: translateX(-42px);
}

.dashboard-menu__block:nth-child(5) {
    transform: translateX(-38px);
}

.dashboard-menu__bento:hover .dashboard-menu__block,
.dashboard-menu__bento:focus .dashboard-menu__block {
    opacity: 1;
}

.dashboard-menu__bento:hover .dashboard-menu__block:nth-child(1),
.dashboard-menu__bento:focus .dashboard-menu__block:nth-child(1) {
    transform: none;
}

.dashboard-menu__bento:hover .dashboard-menu__block:nth-child(2),
.dashboard-menu__bento:focus .dashboard-menu__block:nth-child(2) {
    transform: translateY(15px);
}

.dashboard-menu__bento:hover .dashboard-menu__block:nth-child(3),
.dashboard-menu__bento:focus .dashboard-menu__block:nth-child(3) {
    transform: none;
}

.dashboard-menu__bento:hover .dashboard-menu__block:nth-child(4),
.dashboard-menu__bento:focus .dashboard-menu__block:nth-child(4) {
    transform: translateX(-49px) translateY(30px);
}

.dashboard-menu__bento:hover .dashboard-menu__block:nth-child(5),
.dashboard-menu__bento:focus .dashboard-menu__block:nth-child(5) {
    transform: translateX(-33px) translateY(30px);
}

@media screen and (max-width: 767px) {
    .dashboard-menu__humburger-box {
        width: max-content;
        padding: 20px 1rem;
    }

    .dashboard-menu__humburger {
        padding: 0;
        margin: 0;
    }
}

.message__title {
    color: #0d6efd;
    font-size: 22px;
    font-weight: 700;
    text-transform: uppercase;
}

@media screen and (max-width: 575px) {
    .message__title-box {
        border-radius: 0;
        margin: 0;
    }

    .message__title {
        text-align: center;
    }
}

@media screen and (min-width: 360px) and (max-width: 575px) {
    .message__title {
        font-size: 22px !important;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    .message__title {
        font-size: 17px !important;
    }
}

.message__user-name {
    color: #000;
    font-weight: 700;
    text-align: center;
    padding-bottom: 22.8px;
}

.message__user-message,
.message__user-email,
.message__user-phone {
    background: #0d6efd;
    color: #fff;
    padding: 1.4em 1.7em;
}

.message__underline {
    background: #0d6efd;
}

@media screen and (max-width: 576px) {
    .message__title {
        font-size: .75rem;
    }

    .message__email {
        font-size: 17px;
    }
}

@media screen and (min-width: 320px) and (max-width: 359px) {
    .message__user-name,
    .message__user-message {
        font-size: 17px;
    }

    .message__user-phone {
        font-size: 14px;
    }
}

@media screen and (min-width: 360px) and (max-width: 576px) {
    .message__user-name,
    .message__user-message {
        font-size: 19px;
    }

    .message__user-phone {
        font-size: 16px;
    }
}

input[type="file"] {
    display: none;
}