.content__balance {
    padding-bottom: 7.5em;
}

.content__gallery {
    padding-top: 105px;
    padding-bottom: calc((3.75em * 2) - 1.5rem);
}

.content__card {
    padding-bottom: 1.5rem;
}

.content__submiter {
    margin-top: 3.75rem;
}

.content__cm-col-next {
    padding-right: 20px;
}

@media screen and (min-width: 1401px) {
    .content__description {
        padding-left: 11px;
    }
}